ion-progress-bar{
display: none !important;
visibility: hidden;
}
progress{
display: none !important;
visibility: hidden;
}
.core-progress-text{
display: none !important;
}
ion-tab-bar{
    background: blue;
    background-color: yellow;
    color: black;
}